extends layout

block banner
    .parallax#cart-banner
        div.container-fluid.head-banner
            h2 Giỏ hàng
            p
block content
    // This page design following this example
    //https://www.bootdey.com/snippets/view/shopping-cart-checkout#css
    link(rel='stylesheet', href='/stylesheets/cart.css')

    style.
        hr {
            background-color: black;
        }
    input(hidden=true name="cart_count_input_holder")
    if (order_items.length < 1)
        .container-fluid.m-auto.py-4
            .d-flex.flex-column.m-auto.justify-content-center
                h4.align-self-center Hãy thêm một số món hàng
                a.btn.btn-primary.w-25.align-self-center(href="/menu") Tiếp tục mua

    if (order_items.length >= 1)
        .container.pt-4
            .row
                // cart details
                .col-md-8
                    .inbox
                        .ibox-title
                            span.pull-right
                                | (
                                strong#order_count_in_cart #{session.cart_count}
                                | ) đơn
                            h5 Số lượng đơn hàng
                        for item in order_items
                            include order/item


                        .container.p-0
                            .card.mt-4
                                .card-body
                                    h5.cart-title Lưu ý:
                                    textarea#note.form-control(placeholder='VD: Không thìa, không được để xe ngoài đường, mang nước xát khuẩn, v..v..' name='note', rows=5)
                //side menu
                .col-md-4.pt-4.pt-md-0
                    .card
                        h5.card-header Tóm tắt đơn hàng
                        .card-body
                            h6.card-subtitle Thành tiền:
                            p#total-order-bill.pl-3.card-text= formatBill(totalPrice) + " VND"
                            h6.card-subtitle Thời gian vận chuyển:
                            p.pl-3.card-text 22:00 phút
                                small (dự kiến)
                    .card.my-4
                        h5.card-header Thông tin khách hàng
                        .card-body
                            form#submit-form
                                div
                                    label(for='fullName') Họ và tên:
                                    input#fullName.form-control(type='text' name='fullName' required)
                                    label(for='phone') Số điện thoại:
                                    input#phone.form-control(type='phone' name='phone' required)
                                    label(for='address') Địa chỉ:
                                    input#address.form-control(type='text' name='address' required)
                                    label(for='email') Email:
                                    input#email.form-control(type='email' name='email')
                                button#btn-submit-order.btn.btn-primary.mt-4(style="width:100%")
                                    | Xác nhận
                            if submit_errors
                                ul(style="color:red")
                                    for error in submit_errors
                                        li!= error.msg
    div(style="")
        include partials/modal

block script

    script.
        $(document).ready(() => {
            $("#btn-submit-order").click((e) => {
                console.log("CLICKED")
                e.preventDefault()
                const fullName = $('#fullName').val()
                const phone = $('#phone').val()
                const email = $('#email').val()
                const address = $('#address').val()
                const note = $('#note').val()
                console.log(
                    "FullName "+fullName,
                    "phone "+phone,
                    "email "+email,
                    "address "+address,
                )
                fetch(
                    "/cart/submit",
                    {
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        method: "POST",
                        body: JSON.stringify({
                            fullName: fullName,
                            phone: phone,
                            email: email,
                            address: address,
                            note: note
                        })

                    }
                ).then(data => data.json())
                    .then(response => {
                        window.location.replace("/cart/submitted")
                })
            })

            $(".remove-item").each(
                (index, el) => {
                    $(el).on('click', (e) => {
                        const orderId = `${$(el).data('id')}`
                        e.preventDefault()
                        removeAnOrder(orderId)
                    })
                }
            )

            //handle change quantity of the food items
            $(".food-quantity").each(
                (index, element) => {
                    const foodId = `${$(element).data('id')}`
                    const orderId = `${$(element).data('orderid')}`

                    $(element).change(() => {

                        const count = $(element).val()
                        // console.log(`foodId ${foodId}, count ${count}, orderId ${orderId}`)
                        $(element).prop('disabled', true)

                        //remove if quantity === 0
                        if (count == 0) {
                            removeAnOrder(orderId)
                            return;
                        }

                        // set count for this order
                        fetch(`/cart/set-quantity`, {
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            method: "POST",
                            body: JSON.stringify({
                                foodId: foodId,
                                orderId: orderId,
                                count: count
                            })
                        }).then((response) => response.json())
                            .then(response => {
                                const totalFoodBill = $(`.food-total-bill[data-orderid=${orderId}]`)
                                totalFoodBill.text(formatBill(response.order_bill) + "VND")
                                const count = response.cart_count
                                $(".cart-count").text(count).addClass('cart-badge')
                                $("#order_count_in_cart").text(count)
                                $('input[name="cart_count_input_holder"]').val(count)
                                $("#total-order-bill").text(formatBill(response["total_bill"]) + "VND")

                                $(element).prop('disabled', false)
                            }).catch((err) => {
                            console.log(err)
                            // alert("Lỗi xảy ra")
                            // window.location.replace("/menu")
                        })


                    })
                }
            )
            function removeAnOrder(orderId){
                fetch(`/cart/remove-an-order`, {
                    method: "POST",
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        orderId: orderId,
                    })
                }).then(response => response.json())
                    .then(response => {
                        if (response.cart_count == 0) {
                            window.location.replace("/menu")
                            return
                        }
                        $(`.ibox-content[data-id="${orderId}"]`).remove()
                        $(".cart-count").text(response.cart_count).addClass('cart-badge')
                        $("#order_count_in_cart").text(response.cart_count)
                        $("#total-order-bill").text(formatBill(response["total_bill"]) + "VND")

                    }).catch((error) => {
                    console.log(error)
                    alert(error)
                    window.location.replace("/menu")

                })
            }
            //Handle adding note for each item
            $(".ibox-content").each(
                (index, element) => {
                    const orderId = `${$(element).data('id')}`
                    $(element).find(".order-note").click((e) => {
                        $('#noteModal').modal('show')
                        $('#noteModal button[type="submit"]').click((e) => {
                            const note = $("#note-text").val()
                            console.log("Note " + note, "OrderId " + orderId)
                            e.preventDefault()
                            fetch('/cart/set-note', {
                                method: "POST",
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    orderId: orderId,
                                    note: note
                                })
                            }).then(response => response.json())
                                .then(response => {
                                $(element).find(".note").text(response["note"])
                                $(element).find('.order-note').text('Sửa ghi chú')
                            }).catch(err => {
                                console.log(err)
                            })

                        })
                    })
                }
            )

            // $('#noteModal').on('hide.bs.modal', function () {
            //     console.log('message : ' + $("#note-text").val());
            // })


        })

