extends layout

block banner
    .parallax#menu-banner
        div.container-fluid.head-banner
            h2 Menu
            p Chọn món ăn của bạn

block content

    .container
        .row
            .col-lg-3
                h1.my-4 Shop Name
                .list-group
                    a.list-group-item(href='#') Ăn sáng
                    a.list-group-item(href='#') Ăn trưa
                    a.list-group-item(href='#') Ăn vặt
            // /.col-lg-3
            .col-lg-9
                //#carouselExampleIndicators.carousel.slide.my-4(data-ride='carousel')
                //    ol.carousel-indicators
                //        li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
                //        li(data-target='#carouselExampleIndicators' data-slide-to='1')
                //        li(data-target='#carouselExampleIndicators' data-slide-to='2')
                //    .carousel-inner(role='listbox')
                //        .carousel-item.active
                //            img.d-block.img-fluid(src='https://images.unsplash.com/photo-1575325952371-0ded5da744f1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&h=350&q=80' width='900' height='350' alt='First slide')
                //        .carousel-item
                //            img.d-block.img-fluid(src='https://images.unsplash.com/photo-1606851686066-c7f17f1ece96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&h=350&q=80' width='900' height='350' alt='Second slide')
                //        .carousel-item
                //            img.d-block.img-fluid(src='https://images.unsplash.com/photo-1447078806655-40579c2520d6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&h=350&q=80' width='900' height='350' alt='Third slide')
                //    a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
                //        span.carousel-control-prev-icon(aria-hidden='true')
                //        span.sr-only Previous
                //    a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
                //        span.carousel-control-next-icon(aria-hidden='true')
                //        span.sr-only Next
                .row.my-4
                    for food,index in foods
                        .col-lg-4.col-sm-6.mb-4.pt-3
                            .card.h-100
                                //p= food.image_url
                                a(href=href = `/menu/${food.id}`)
                                    if food.image_url && food.image_url.length > 5
                                        img.card-img-top(src=`${food.image_url}` alt='Ảnh món ăn' width=350 height=200)
                                    else
                                        //don't have image link
                                        img.card-img-top(src='https://images.unsplash.com/photo-1455619452474-d2be8b1e70cd?&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&h400&q=80' alt='')
                                    //img.card-img-top(src='https://images.unsplash.com/photo-1455619452474-d2be8b1e70cd?&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&h400&q=80' alt='')
                                .card-body
                                    h4.card-title
                                        a(href=`/menu/topping/${food.id}/${food.title}/${food.price}`)= food.title
                                    h5= formatBill(food.price) + " VND"
                                    //p.card-text= food.description
                                    //a.btn.btn-primary.mb-3(href=`/menu/${food.id}`) Chi tiết
                                    .col.p-0
                                        a.col-md-6.btn.custom-food.border.border-primary.rounded.font-10(
                                            href=`/menu/topping/${food.id}/${food.title}/${food.price}`) Tùy chọn
                                        button.col-md-6.btn.btn-primary.add-to-cart.m-auto.font-10(
                                            data-id=`${food.id}`
                                            data-title=`${food.title}`
                                            data-clicked=false
                                            data-price=food.price) Chọn
                                .card-footer
                                    small.text-muted ★ ★ ★ ★ ☆

block script
    script.
        $(document).ready(function () {
            $('.add-to-cart').each(
                (index, element) => {
                    const btn = $(element);
                    $(element).click(function (e) {
                        // alert(`${$(element).data('id')}`)
                        const id = `${$(element).data('id')}`
                        const title = `${$(element).data('title')}`
                        const price = `${$(element).data('price')}`
                        const isClicked = $(element).data('clicked')
                        console.log(isClicked)
                        e.preventDefault()
                        if (isClicked) {
                            window.location.href = '/cart'
                            return
                        }
                        // your statements;

                        console.log(`id ${id}, title ${title}, price ${price}`)

                        fetch(`/menu/add-to-cart?title=${title}&price=${price}`, {
                            method: "POST",
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                foodId:id
                            })
                        }).then(response => response.json())
                            .then((data) => {
                                console.log(`data ${data.cart_count}`);
                                // console.log($("header ul").children()[3].val())
                                // $("header ul").children()[3]
                                $(".cart-count").text(data.cart_count).addClass('cart-badge')
                                btn.text("Giỏ hàng")
                                btn.css('background-color', 'gray');
                                btn.data("clicked", true)
                            })
                    })
                }
            );


        });

