extends admin_base


block content
    h2.mb-4.mt-4 Danh sách thực đơn (sản phẩm)

    a(href="/admin/food/create").mr-3.btn.btn-primary.mb-4 Tạo sản phẩm mới

    a(href="/admin/topping/create").btn.btn-primary.mb-4 Tạo topping mới

    .row
        .col-lg-8.col-md-6
            .row
                for food,index in foods
                    .col-lg-6
                        .card.h-100
                            if food.image_url && food.image_url.length > 5
                                img.card-img-top(src=`${food.image_url}` alt='Ảnh món ăn' width=500 height=300)
                            else
                                img.card-img-top(src=`http://placehold.it/500x300` alt='Ảnh món ăn')
                            //img.card-img-top(src=`http://placehold.it/500x300` alt='Ảnh món ăn')
                            .card-body
                                h2.card-title= food.title
                                h6 #{formatBill(food.price)}VND
                                p.card-text= food.description

                            .card-footer
                                a.btn.btn-primary.btn-sm(href='#') Chỉnh sửa
                                a.btn.btn-danger.btn-sm.ml-4(href=`/admin/food/${food.id}/delete`) Xóa
        .col-lg-4.col-md-6
            h3 Topping

            table(style='width=100%')#topping-list.display
                thead
                    tr
                        th STT
                        th Tên
                        th Giá (VND)
                        th Mô tả
                tbody
                    for topping, index in toppings
                        tr
                            td= index + 1
                            td
                                a(href="#")= topping.name
                            td= formatBill(topping.price)
                            td= topping.description





    p(style="color:red")= error



block script
    script(src='//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js')
    script.
        $(document).ready(function () {
            $('#topping-list').DataTable();
        });

