extends admin_base


block content
    h2.mb-4.mt-2= food.title
    p Tổng sản phẩm đã bán: 100
    hr
    h3 Thông tin về sản phẩm (VND):
    form#form_food_create.pt-2.pb-4(method='POST' action=`/admin/food/${food.id}/update` enctype="multipart/form-data")
        div.form-group.form-check.px-0
            input#is_remaining.form-control.form-check-input(type='checkbox' name='is_remaining' checked=(undefined === food ? true : food.is_remaining))
            label.form-check-label(for='is_remaining') Còn hàng không:
        div.form-group
            //label(for='image') Ảnh:
            //input#image.form-control(type='file' name='image' alt="Submit" width="48" height="48")
            label(for='count') Số suất còn lại trong ngày:
            input#count.form-control(type='number' name='count' min=0)

            img#food-banner.mt-3(src=`${food.image_url}` width=300 height=200)
            input(hidden=true name='image_url' value=`${food.image_url}`)
            input(hidden=true name='image_name' value=`${food.image_name}`)
            br
            label(for='file') Đổi ảnh (nhỏ hơn 1Mb):
            input#file.form-control(type='file' name='file' alt="Submit")

            label(for='title') Tên sản phẩm:
            input#title.form-control(type='text', placeholder='Cơm gà' name='title' value=(undefined === food ? '' : food.title))

            label(for='price') Giá sản phẩm:
            input#price.form-control(type='number', placeholder='VD: 10000' name='price' value=(undefined === food ? '' : food.price))

            label(for='description') Mô tả ngắn:
            textarea#description.form-control(placeholder='Nội dung...' name='description', rows=5, maxlength=200)=   (undefined === food ? '' : food.description)


        button.btn.btn-primary(type='submit') Cập nhật

    if errors
        ul(style="color:red")
            for error in errors
                li!= error


    a.btn.btn-danger(href=`/food/${food.id}/delete`) Xóa sản phẩm

block script
    script.
        $(document).ready(() => {
            const image_url = $("#food-banner").attr('src')
            const is_remaining = $("#isRemaining").is(":checked")
            const title = $("#title").val()
            const price = $("#price").val()
            const description = $("#description").val()
            const count = $("#count").val()
            // const foodId = $("#f").val()


            // fetch('/admin/food/')



        })