extends admin_base


block content
    h2.mb-4.mt-4 Danh sách thực đơn (sản phẩm)

    a(href="/admin/food/create")#menu-toggle.btn.btn-primary.mb-4 Tạo sản phẩm mới

    .row
        for food,index in foods
            .col-md-4.mb-5
                .card.h-100
                    //if food.image_url && food.image_url.length > 5
                    //    img.card-img-top(src=`${food.image_url}` alt='Ảnh món ăn' width=500 height=300)
                    //else
                        img.card-img-top(src=`http://placehold.it/500x300` alt='Ảnh món ăn')
                    img.card-img-top(src=`http://placehold.it/500x300` alt='Ảnh món ăn')
                    .card-body
                        h2.card-title= food.title
                        h6 #{food.price} VND
                        p.card-text= food.description
                            |
                    .card-footer
                        a.btn.btn-primary.btn-sm(href='#') Chỉnh sửa
                        a.btn.btn-danger.btn-sm.ml-4(href='#') Xóa




    p(style="color:red")= error



block script
    script(src='//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js')
    script.
        $(document).ready(function () {
            $('#food-list').DataTable();
        });

