extends admin_base

block content
    h2 #{title}
    p Tổng giá trị đơn hàng:  #{formatBill(order.total_bill)} VND
    form(method='POST' action='/admin/order/#{order.id}/update')
        div.form-group
            input#order-id(hidden=true value=(undefined === order ? '' : order.id))

            label(for='full_name') Người đặt:
            input#full_name.form-control(readonly=true type='text', placeholder='Tên người đặt' name='full_name' value=(undefined === order ? '' : order.full_name))

            label(for='phone') SĐT:
            input#phone.form-control(readonly=true type='text', placeholder='Một món ăn dân gian, ...' name='phone' value=(undefined === order ? '' : order.phone))

            label(for='email') Email:
            input#email.form-control(readonly=true type='text', placeholder='abc@email.com' name='email' value=(undefined === order ? '' : order.email))

            label(for='address') Địa chỉ:
            textarea#address.form-control(placeholder='Địa chỉ...' name='address', rows=3)=  (undefined === order ? '' : order.address)

            label(for='note') Lưu ý của khách hàng:
            textarea#note.form-control(readonly=true placeholder='Nội dung...' name='note', rows=3)=   (undefined === order ? '' : order.note)
            hr
            label(for='status')
                h5 Trạng thái:
            select#status.form-control(name='status')
                option(value="WAITING" selected= order.status === "WAITING" )=`Đang chờ`
                option(value="COOKING" selected= order.status === "COOKING" )=`Đang chuẩn bị`
                option(value="SHIPPING" selected=order.status === "SHIPPING")=`Đang giao hàng`
                option(value="COMPLETE" selected=order.status === "COMPLETE")=`Hoàn thành`
                option(value="CANCEL" selected=order.status === "CANCEL")=`Đơn bị hủy`
    hr
    h4 Danh sách món ăn được đặt
    table#foods_in_order(style='width=100%').display
        thead
            tr
                th(width="15") STT
                th Tên món ăn
                th Số lượng
                th Ghi chú của khách hàng
                th Toppings (Đồ ăn kèm)
        tbody
            for food,index in order.foods
                tr
                    td(width="15")=index + 1
                    td
                        a(href=`/admin/food/${food.food_id}`) #{food.name}
                    td=food.count
                    td=food.note
                    td
                        dl.small.m-b-none
                            for topping in food.toppings
                                dd #{topping.topping_name} +#{formatBill(topping.topping_price)}VND


    .py-5.px-0
        button#update-btn.btn.btn-primary.mx-4.my-2 Cập nhật
        button#update-btn-stay.btn.btn-primary.mx-4.my-2 Cập nhật và Ở lại trang
        a.btn.btn-danger.mx-4(href=`/admin/order/${order.id}/delete`) Xóa đơn hàng

    if errors
        ul(style="color:red")
            for error in errors
                li!= error.msg

    include widgets/modal_sucess

block script
    script(src='//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js')
    script.
        $(document).ready(function () {
            $('#foods_in_order').DataTable();


            $('#update-btn').click((e) => {
                e.preventDefault()
                update()
            })
            $('#update-btn-stay').click((e) => {
                e.preventDefault()
                update("STAY")
            })


            function update(action){
                const orderId = $("#order-id").val()
                const full_name = $("#full_name").val()
                const phone = $("#phone").val()
                const address = $("#address").val()
                const note = $("#note").val()
                const status = $("#status").val()
                const email = $("#email").val()
                console.log(
                    orderId,
                    full_name,
                    phone,
                    address,
                    note,
                    status
                )

                fetch(`/admin/order/${orderId}/update`, {
                    method: "POST",
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        orderId: orderId,
                        full_name: full_name,
                        phone: phone,
                        email: email,
                        address: address,
                        note: note,
                        status: status,
                        action:action
                    })
                }).then(data => data.json())
                    .then(response => {
                        console.log(response)
                        if (response.action.toUpperCase() === 'BACK')
                            window.location.href = "/admin/order"
                        else
                            $('#successModal').modal('show')
                    }).catch(err => {
                    console.log(err)
                })
            }
        });