extends ./admin_base

block content
    h2 #{title}
    //user_auth thông tin đăng ký của người dùng
    //user_data Các thông tin khác của người dùng
    //action=`/admin/user/${user_auth.uid}/update`

    form(method='POST')#update-user
        div.form-group
            label(for='uid') UID:
            input#uid.form-control(type='text', readonly=true name='uid' value=(undefined === user_auth ? '' : user_auth.uid))

            label(for='displayName') Tiêu đề:
            input#displayName.form-control(type='text', placeholder='Cơm gà' name='displayName' value=(undefined === user_auth ? '' : user_auth.displayName))

            label(for='phoneNumber') Số điện thoại:
            input#phoneNumber.form-control(type='phone', placeholder='' name='phoneNumber' value=(undefined === user_auth ? '' : user_auth.phoneNumber))

            label(for='email') Email:
            input#email.form-control(type='email', placeholder='' name='email' value=(undefined === user_auth ? '' : user_auth.email))

            label(for='address') Địa chỉ:
            textarea#address.form-control(placeholder='Địa chỉ' name='address', rows=5)=   (undefined === user_data ? '' : user_data.address)

            label(for='note') Ghi chú:
            textarea#note.form-control(placeholder='Ghi chú' name='note', rows=5)=   (undefined === user_data ? '' : user_data.note)

        button.btn.btn-primary(type='submit') Cập nhật

    a(href=`/admin/user/${user_auth.uid}/delete`).btn.btn-danger.container.p-auto.mt-4.w-25 Xóa người dùng


    if errors
        ul(style="color:red")
            for error in errors
                li!= error.msg


block script
    script(src='//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js')
    script.
        $("#update-user").on("submit", function (e) {
            console.log("Clicked")
            e.preventDefault()
            const uid = $('#uid').val()
            fetch(`/admin/user/${uid}/update`, {
                method: 'POST',
                headers: {
                    "Content-type": "application/json"
                },
                body: JSON.stringify({
                    uid: uid,
                    displayName: $('#displayName').val(),
                    phoneNumber: $('#phoneNumber').val(),
                    email: $('#email').val(),
                    address: $('#address').val(),
                    note: $('#note').val(),
                })
            }).then(function (response) {
                return response.json();
            }).then(function (data) {
                console.log('Request succeeded with JSON response', data);
                toastr.success("OK")
            }).catch(function (error) {
                console.log('Request failed', error);
                toastr.error("Error")
            });

        })