extends ../layout


block banner
    style.
        .head-banner {
            width: 100%;
            padding: 10vh 0;
        }

        @media (min-width: 992px) {
            .head-banner {
                width: 100%;
                padding: 15vh 0;
            }
        }

    .parallax#blog-banner
        div.container-fluid.head-banner
            h2 Món ăn
            p  Thêm topping, chi tiết về sản phẩm.


block content

    .container.pt-4
        .row
            // ảnh bên trái
            .col-md-6
                .col.p-0
                    //img.p-0.img-fluid(src='http://placehold.it/750x750' alt='')
                    img.p-0.img-fluid(src=`${food.image_url}` alt='')
                    .row.pt-3
                        .col-4
                            a(href='#')
                                img.img-fluid.p-0(src='http://placehold.it/325x325' alt='' height=225)
                        .col-4
                            a(href='#')
                                img.img-fluid.p-0(src='http://placehold.it/325x325' alt='' height=225)
                        .col-4
                            a(href='#')
                                img.img-fluid.p-0(src='http://placehold.it/325x325' alt='' height=225)

            .col-md-6.pt-0
                h3.pt-md-0.pt-sm-4 #{food.title}
                p.text-dark.text-left #{food.description}
                hr
                h4 #{formatBill(food.price)}VND
                hr
                h5.py-4 Topping ăn kèm
                form#add-topping.px-4
                    each topping in toppings
                        .row.justify-content-between
                            span
                                input.topping-checkbox(type="checkbox" data-id=`${topping.id}` data-price=`${topping.price}` data-name=`${topping.name}`)
                                label(for=`${topping}`).px-2 #{topping.name}
                            p +#{formatBill(topping.price)}VND
                    .row.p-0.m-0.pt-3
                        .col-3
                            input#food-quantity.form-control(
                                type='number' min="0" value=1
                                style="padding-right:0;")

                        .col-9
                            button#btn-add-to-cart.btn.btn-primary.w-100
                                .row.justify-content-between.mx-1
                                    span#bill #{formatBill(food.price)}VND/suất
                                    span Thêm vào giỏ

                h5.my-3 Thông tin thêm
                include addition_info
        // Related Projects Row
        h3.my-4 Cách chúng tôi tạo ra sản phẩm
        .row
            .col-md-3.col-sm-6.mb-4
                a(href='#')
                    img.img-fluid(src='http://placehold.it/500x300' alt='')
            .col-md-3.col-sm-6.mb-4
                a(href='#')
                    img.img-fluid(src='http://placehold.it/500x300' alt='')
            .col-md-3.col-sm-6.mb-4
                a(href='#')
                    img.img-fluid(src='http://placehold.it/500x300' alt='')
            .col-md-3.col-sm-6.mb-4
                a(href='#')
                    img.img-fluid(src='http://placehold.it/500x300' alt='')

                input#bill-data(hidden=true data-price=`${food.price}`)
                input#food-name(hidden=true data-name=`${food.title}`)
                input#food-id(hidden=true data-id=`${food.id}`)
                input#food-price(hidden=true data-price=`${food.price}`)


block script

    script.
        $(document).ready(function () {
            var bill = $("#bill-data").data('price')
            $(".topping-checkbox").each((index, el) => {
                $(el).change(() => {
                    var billTag = $("#bill")

                    const isChecked = $(el).is(":checked")
                    const topping_price = $(el).data('price')
                    console.log('price ' + topping_price)
                    console.log('bill ' + bill)
                    // console.log(typeof topping_price)
                    if (isChecked) {
                        bill += topping_price
                    } else {
                        bill -= topping_price
                    }
                    billTag.data('foodPrice', bill)
                    billTag.text(formatBill(bill) + "VND/suất")
                })
            })


            $("#btn-add-to-cart").click((e) => {
                const food_name = $("#food-name").data('name')
                const food_id = $("#food-id").data('id')
                const food_price = $("#food-price").data('price')
                const food_quantity = $("#food-quantity").val()
                e.preventDefault()
                var toppings = []
                $(".topping-checkbox").each((index, el) => {
                    const checkBox = $(el)
                    const isChecked = checkBox.is(":checked")
                    if (isChecked) {
                        toppings.push({
                            topping_id: checkBox.data('id'),
                            topping_name: checkBox.data('name'),
                            topping_price: checkBox.data('price')
                        })
                    }
                })
                console.log(
                    `ID ${food_id}`,
                    `Name ${food_name}`,
                    `Price ${food_price}`,
                    `Quantity ${food_quantity}`,
                    `Toppings ${toppings}`)

                fetch(`/menu/add-to-cart?title=${food_name}&price=${food_price}`, {
                    method: "POST",
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        foodId: food_id,
                        count:food_quantity,
                        toppings: toppings
                    })
                }).then(response => {
                    if (response.status == 200) {
                        window.location.assign('/cart')
                    }
                })
            })

        })



