.ibox-content(data-id=`${item.order.orderId}`)
    .table-responsive
        table.table.shoping-cart-table(style="min-width:500px")
            tbody
                tr
                    td(width='90')
                        img.cart-product-imitation(src=`${item.food.image_url}` width=80 height=80)
                    td.desc
                        h3
                            a.text-navy(href='/menu/1')= item.food.title
                        //p.small= item.food.description
                        a.btn.btn-primary.btn-sm.order-note.text-white(style="font-size:10px")=  item.order.note && item.order.note.length > 0 ? "Sửa ghi chú" : "Thêm ghi chú"
                        //data-target="#noteModal"
                        //data-toggle="modal"
                        dd.mb-0
                            small.note.font-12 #{item.order.note}

                        if item.order.toppings && item.order.toppings.length > 0
                            hr.m-1.mt-0.text-muted
                            dl.small.m-b-none
                                dt Đồ thêm
                                for topping in item.order.toppings
                                    dd
                                        small #{topping.topping_name} +#{formatBill(topping.topping_price)}VND
                    td(width='100')
                        input.form-control.food-quantity(data-id=`${item.food.id}` data-orderid=`${item.order.orderId}`
                            type='number' min="0" value=`${item.order.count}`
                            style="padding-right:0;")
                    td
                        h5(data-orderid=`${item.order.orderId}`).food-total-bill.font-20 #{formatBill(item.order_bill)}VND
                        p(style="font-size:12px; color: gray") #{formatBill(item.bill_per_item)}VND/suất
                    td
                        button.remove-item.text-danger(style="background-color:white" data-id=`${item.order.orderId}`) Xóa
                            //i.fa.fa-trash