- var link_class= ['nav-link']
- var link_class_active = ['nav-link',"active"]

style.
    .cart-icon {
        color: white;
        text-decoration: none;
        position: relative;
        display: inline-block;
    }

    .cart-icon .cart-badge {
        font-size: 12px;
        height: 15px;
        width: 15px;
        text-align: center;
        position: absolute;
        border-radius: 80%;
        background: red;
        color: white;
    }
    .navbar .active{
    color: white;
    }

    .navbar .nav-link {
        color: #d5d5d7;
    }
    .navbar a{
        list-style: none;
        margin-left: 0;
    }
    .navbar a:hover{
        color: #ffffff;

    }
    #mainNav{
        top: 0;
        position:absolute;
        z-index: 1000;
    }

    /*#mainNavOnScroll*/
    #mainNavOnScroll{
        transition: top 0.3s;
        top: -63px;
    }

nav#mainNav.navbar.navbar-expand-md.w-100
    .container-fluid.d-flex.justify-content-between
        a.navbar-brand.js-scroll-trigger.logo(href='#page-top') LOGO
        .collapse.navbar-collapse
            ul.navbar-nav.m-auto
                li.nav-item
                    a(class= `${title}` === "Trang chủ" ? link_class_active:link_class href='/')
                        | Trang chủ
                li.nav-item
                    a(class= `${title}` === "Thực đơn" ? link_class_active:link_class href='/menu') Thực đơn
                li.nav-item
                    a(class= `${title}` === "Blog" ? link_class_active:link_class href='/blog') Blog
                li.nav-item
                    a(class= `${title}` === "Liên hệ" ? link_class_active:link_class href='#') Liên hệ
        ul.navbar-nav
                li.nav-item
                    a.cart-icon(class= `${title}` === "Giỏ hàng" ? link_class_active:link_class href='/cart')
                                i(aria-hidden="true").bi.bi-bag

                                span(class= ("cart_count" in session && session.cart_count > 0)?["cart-badge"]:[]).cart-count.label.label-primary
                                    if "cart_count" in session && session.cart_count > 0
                                        | #{session.cart_count}
                                    else
                li.account.nav-item
                        a.cart-icon(class= `${title}` === "Tài khoản" ? link_class_active:link_class href='/register')
                                i(aria-hidden="true").bi.bi-person

nav#mainNavOnScroll.navbar.navbar-expand-md.w-100.fixed-top.bg-dark
    .container-fluid.d-flex.justify-content-between
        a.navbar-brand.js-scroll-trigger.logo(href='#page-top') LOGO
        .collapse.navbar-collapse
            ul.navbar-nav.m-auto
                li.nav-item
                    a(class= `${title}` === "Trang chủ" ? link_class_active:link_class href='/')
                        | Trang chủ
                li.nav-item
                    a(class= `${title}` === "Thực đơn" ? link_class_active:link_class href='/menu') Thực đơn
                li.nav-item
                    a(class= `${title}` === "Blog" ? link_class_active:link_class href='/blog') Blog
                li.nav-item
                    a(class= `${title}` === "Liên hệ" ? link_class_active:link_class href='#') Liên hệ
        ul.navbar-nav
            li.nav-item
                a.cart-icon(class= `${title}` === "Giỏ hàng" ? link_class_active: link_class href='/cart')
                    i(aria-hidden="true").bi.bi-bag

                    span(class= ("cart_count" in session && session.cart_count > 0) ? ["cart-badge"]: []).cart-count.label.label-primary
                        if "cart_count" in session && session.cart_count > 0
                            | #{session.cart_count}
                        else
            li.nav-item
                a.cart-icon.account(class= `${title}` === "Tài khoản" ? link_class_active: link_class href='/register')
                    i(aria-hidden="true").bi.bi-person



nav#mainNavReponsive.navbar.fixed-top.bg-dark
    .container-fluid.d-flex.justify-content-between
        button#toggle-button.navbar-toggler.navbar-toggler.p-0.m-0(type='button',
            data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive',
            aria-expanded='false', aria-label='Toggle navigation'
            style="color:white" )
            i(aria-hidden="true").fa.fa-bars
        a.navbar-brand.js-scroll-trigger.logo(href='#page-top') LOGO
        .row.p-0
            .col-6.p-0.m-0
                a.cart-icon(style='padding: 0 0.25rem' class= `${title}` === "Giỏ hàng" ? link_class_active:link_class href='/cart')
                    i(aria-hidden="true").bi.bi-bag

                    span(class= ("cart_count" in session && session.cart_count > 0) ? ["cart-badge"]:[]).cart-count.label.label-primary
                        if "cart_count" in session && session.cart_count > 0
                            | #{session.cart_count}
                        else
            .col-6.p-0.m-0
                a.cart-icon.account( style='padding: 0 0.25rem' class= `${title}` === "Tài khoản" ? link_class_active:link_class href='/register')
                    i(aria-hidden="true").bi.bi-person

    #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.m-auto
            li.nav-item
                a(class= `${title}` === "Trang chủ" ? link_class_active:link_class href='/')
                    | Trang chủ
            li.nav-item
                a(class= `${title}` === "Thực đơn" ? link_class_active: link_class href='/menu') Thực đơn
            li.nav-item
                a(class= `${title}` === "Blog" ? link_class_active:link_class href='/blog') Blog
            li.nav-item
                a(class= `${title}` === "Liên hệ" ? link_class_active: link_class href='#') Liên hệ

