- var link_class= ['nav-link']
- var link_class_active = ['nav-link',"active"]

nav#mainNav.navbar.navbar-expand-lg.fixed-top
    .container.text-white
        a.navbar-brand.js-scroll-trigger.logo(href='#page-top') LOGO
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            | Menu
            i.fas.fa-bars
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item
                    a(class= `${title}` === "Trang chủ" ? link_class_active: link_class href='/')
                        | Trang chủ
                        span.sr-only (current)
                li.nav-item
                    a(class= `${title}` === "Thực đơn" ? link_class_active: link_class href='/menu') Thực đơn
                li.nav-item
                    a(class= `${title}` === "Blog" ? link_class_active: link_class href='/blog') Blog
                li.nav-item
                    a(class= `${title}` === "Liên hệ" ? link_class_active: link_class href='#') Liên hệ
                li.nav-item
                    a(class= `${title}` === "Giỏ hàng" ? link_class_active: link_class href='/cart')= `Giỏ hàng `
                        span.cart-count
                            if "cart_count" in session && session.cart_count > 0
                                | #{session.cart_count}
                            else
                                |